########################################
# Woohoo's Environment Configuration
########################################

# Database configuration.
# Change the user and password to something secure.
WOOHOO_DB_USER=postgres
WOOHOO_DB_PASSWORD=postgres
WOOHOO_DB_NAME=woohoo

DATABASE_URL="postgres://postgres:postgres@localhost:42070/woohoo?sslmode=disable"

# Auth
BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:3000
