@import "tailwindcss";

:root {
    --background: #f4efe8;
    --foreground: #2a2623;

    --muted: #7a6f66;
    --border: #e6ddd4;

    --card: #f8f3ed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-border: var(--border);

    --font-sans: "IBM Plex Sans", sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}
